@tailwind base;
@tailwind components;
@tailwind utilities;/* styles/globals.css */


@import "~@aws-amplify/ui-react/styles.css";
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");


.slick-next:before,
.slick-prev:before {
  color: #e55959 !important;
}

.amplify-button--primary {
  background-color: #5197ff;
}

.primary-button {
  background-color: #5197ff;
}

.primary-button {
  background-color: #5197ff;
}

.primary-button:hover {
  background-color: #63a2ff;
}


.amplify-button--primary:hover {
  background-color: #63a2ff;
  scale: 1.1;
}
.amplify-button--primary:focus {
  background-color: #80B3FF;
  scale: 1.1;
}
.amplify-tabs-item[data-state="active"] {
  color: white;
  border-color: rgb(136, 62, 62);
  background-color: #e55959;
  transition-property: none;
}

[data-amplify-authenticator] [data-amplify-router] {
  background-color: white;
  border-color: none;
  border-width: none;
  border-style: none;
}

.amplify-tabs-item {
  border-color: pink;
}
